<h1>Good {{greet}}, {{name}}!</h1>
<h2>Today's top headers in {{section}} are...</h2>
<ol>
{% for item in my_list %}
    <li><h4>{{item}}</h4></li>
{% endfor %}
</ol>
<h2>Discover more news:</h2>
<ul>
	<li><a href='/user/{{name}}/home'>homepage</a></li>
	<li><a href='/user/{{name}}/opinion'>opinion</a></li>
	<li><a href='/user/{{name}}/world'>world</a></li>
	<li><a href='/user/{{name}}/national'>national</a></li>
	<li><a href='/user/{{name}}/politics'>politics</a></li>
	<li><a href='/user/{{name}}/technology'>technology</a></li>
	<li><a href='/user/{{name}}/science'>science</a></li>
	<li><a href='/user/{{name}}/health'>health</a></li>
	<li><a href='/user/{{name}}/sports'>sports</a></li>
	<li><a href='/user/{{name}}/arts'>arts</a></li>
	<li><a href='/user/{{name}}/books'>books</a></li>
	<li><a href='/user/{{name}}/movies'>movies</a></li>
	<li><a href='/user/{{name}}/theater'>theater</a></li>
	<li><a href='/user/{{name}}/fashion'>fashion</a></li>
	<li><a href='/user/{{name}}/food'>food</a></li>
	<li><a href='/user/{{name}}/travel'>travel</a></li>
</ul>